/* Bootstrap Custom CSS:- Start */
body {
  font-family: "Poppins", sans-serif;
}
#parragraph {
  color: #777777;
}
#carousel-caption-parragraph {
  color: #f4f4f4;
}
#faq-parragraph {
  color: #777777;
}
a,
a:hover {
  text-decoration: none;
}

.brightness {
  filter: brightness(55%);
}
.border-color {
  border: 1px solid #e8e8e8;
}
.course h3 {
  color: #4a4a4a;
}
.course a {
  color: #289bde;
}
.color h3 {
  color: #ffffff;
}
.color a {
  color: #e8e8e8;
}
.btn-color {
  background-color: #289bde;
  color: #ffffff;
}
footer p {
  color: #e8e8e8;
}
footer a:hover {
  color: #289bde;
}
.card h3 {
  padding-top: 30%;
}
.reg {
  background-color: #289bde;
}
.regnow button {
  background-color: #ffffff;
  color: #289bde;
}
.btn-reg {
  background-color: transparent;
  color: #289bde;
  border: 1px solid #289bde;
  border-radius: 5px;
}

/* Responsive Section:- Start */
@media screen and (max-width: 677px) {
  .trusted {
    display: none;
  }
  .card h3 {
    padding-top: 0;
  }
  .carousel-caption .fs-1 {
    font-size: 20px !important;
    padding-top: 10%;
    margin-bottom: 0;
  }
  .carousel-caption .fs-6 {
    font-size: 12px !important;
    margin-bottom: 0 !important;
  }
  .carousel-caption .btn {
    font-size: 12px !important;
    padding: 4px 8px !important;
  }
  .courses .d1,
  .d2,
  .d3 {
    overflow: hidden;
  }
}
@media screen and (min-width: 678px) and (max-width: 1024px) {
  .trusted {
    display: none;
  }
  .carousel-caption {
    padding-top: 3.25rem;
    padding-bottom: 0rem;
  }
  .card h3 {
    padding-top: 0%;
  }
  .courses {
    overflow: hidden;
  }
}
/* Responsive Section:- End */
