/* Bootstrap Custom CSS:- Start */
body {
  font-family: "Poppins", sans-serif;
}
#parragraph {
  color: #777777;
}
#carousel-caption-parragraph {
  color: #f4f4f4;
}
#faq-parragraph {
  color: #777777;
}
a,
a:hover {
  text-decoration: none;
}

.brightness {
  filter: brightness(55%);
}
.border-color {
  border: 1px solid #e8e8e8;
}
.course h3 {
  color: #4a4a4a;
}
.course a {
  color: #289bde;
}
.color h3 {
  color: #ffffff;
}
.color a {
  color: #e8e8e8;
}
.btn-color {
  background-color: #289bde;
  color: #ffffff;
}
footer p {
  color: #e8e8e8;
}
footer a:hover {
  color: #289bde;
}
.card h3 {
  padding-top: 30%;
}
.reg {
  background-color: #289bde;
}
.regnow button {
  background-color: #ffffff;
  color: #289bde;
}
